body {
  font-family: Arial, sans-serif;
  font-size: 100%;
  font-style: normal;
  color: #222222;
  margin: 0;
  padding: 0; }

body.document {
  margin: 5%; }

#container {
  position: relative;
  z-index: 0;
  width: 100%;
  font-size: 0.875em; }

#demand, #supply, #ghg {
  position: absolute;
  width: 30%; }
  #demand table, #demand p, #supply table, #supply p, #ghg table, #ghg p {
    width: 92%;
    margin-right: 2%;
    margin-left: 6%; }
  #demand p.note, #supply p.note, #ghg p.note {
    font-size: 0.72em; }

#demand {
  left: 0%; }

#supply {
  left: 35%; }

#ghg {
  left: 70%; }
  #ghg .ghg_label, #ghg .security_label {
    text-align: left;
    font-size: 0.72em;
    width: 90%;
    margin-right: 10%;
    margin-left: 7%; }
  #ghg p.note {
    margin-left: 7%;
    width: 90%; }

.chart {
  width: 100%;
  height: 300px;
  margin-bottom: 15px; }
  .chart .loading {
    text-align: center;
    padding-top: 170px; }
  .chart #pathwayPollingCounter {
    text-align: center; }

.warning {
  background-color: red;
  border: solid 3px black;
  color: white; }

#disclaimer {
  position: relative;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  background-color: #0066a1;
  text-weight: bold;
  color: white; }
  #disclaimer a {
    color: white;
    text-decoration: none; }
  #disclaimer a:hover {
    text-decoration: underline; }
  #disclaimer #help, #disclaimer #share {
    display: inline;
    padding-right: 3px;
    padding-left: 3px; }
  #disclaimer #help {
    position: absolute;
    left: 3px; }
    #disclaimer #help .links {
      position: relative;
      bottom: 3px; }
      #disclaimer #help .links a {
        padding-left: 3px; }
  #disclaimer #share {
    position: absolute;
    right: 3px; }

#ghg h2 {
  text-align: center;
  color: #3e576f;
  font: normal normal normal 16px/normal "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; }
#ghg h3 {
  text-align: center;
  font-size: 0.72em; }
#ghg p {
  font-size: 0.72em;
  width: 92%;
  margin-right: 4%;
  margin-left: 4%; }

table.comparison {
  font-size: 0.72em;
  width: 92%; }
  table.comparison th {
    font-weight: normal;
    font-size: 100%;
    text-align: center; }
  table.comparison td {
    text-align: center; }

table.choice_bars {
  width: 100%;
  border-spacing: 1px; }
  table.choice_bars td.description {
    font-size: 0.72em;
    background-image: url("../images/onegreypixel.png");
    background-position: left center;
    background-repeat: repeat-x; }
    table.choice_bars td.description a {
      text-decoration: none;
      background-color: white;
      color: black; }
    table.choice_bars td.description a:hover {
      text-decoration: underline; }
  table.choice_bars td.choicebar {
    width: 20px;
    margin: 0;
    padding: 0;
    border: solid 1px;
    border-color: #cccccc;
    font-size: 0.72em;
    text-align: center; }
  table.choice_bars td.expand_options {
    font-size: 0.72em;
    text-align: center; }
  table.choice_bars td.choicebar.hover {
    border-color: black;
    cursor: pointer;
    color: black; }
  table.choice_bars td.control {
    font-size: 0.72em;
    width: 10px; }
    table.choice_bars td.control a {
      color: black;
      text-decoration: none; }
  table.choice_bars td.left {
    text-align: right; }
  table.choice_bars td.full {
    border-color: #aaaaaa;
    text-color: white; }
  table.choice_bars td.empty {
    background-color: white;
    color: #aaaaaa; }
  table.choice_bars td.greyed {
    color: #aaaaaa; }
  table.choice_bars td.detail {
    color: #aaaaaa; }

.pathways tr.choice1 td.full {
  background-color: lime; }
.pathways tr.choice2 td.full {
  background-color: yellow; }
.pathways tr.choice3 td.full {
  background-color: orange; }
.pathways tr.choice4 td.full {
  background-color: red; }
.pathways tr.abcd td.full {
  background-color: #aaaaaa; }

.sectors tr.selected_choice td.description {
  font-weight: bold;
  background-color: #aa4643; }
  .sectors tr.selected_choice td.description a {
    background-color: #aa4643;
    color: white; }
.sectors tr.selected_choice td.control, .sectors tr.selected_choice td.control a {
  color: #aa4643; }
.sectors tr.selected_choice td.choice1 {
  background-color: lime; }
.sectors tr.selected_choice td.choice2 {
  background-color: yellow; }
.sectors tr.selected_choice td.choice3 {
  background-color: orange; }
.sectors tr.selected_choice td.choice4 {
  background-color: red; }
.sectors tr.choice1 td.full, .sectors tr.choice2 td.full, .sectors tr.choice3 td.full, .sectors tr.choice4 td.full {
  background-color: #aaaaaa; }

#consequences div {
  float: left; }

.clear {
  clear: both; }

.big {
  font-weight: bold; }

.tooltip {
  display: none;
  background-color: yellow;
  color: black;
  border: 2px solid black;
  border-radius: 15px 15px 0px 15px;
  -moz-border-radius: 15px 15px 0px 15px;
  -moz-box-shadow: 0 0 5px #888888;
  -webkit-box-shadow: 0 0 5px #888888;
  font-size: 12px;
  height: 5em;
  width: 14em;
  padding: 10px;
  z-index: 10000; }

.full_details_on_choice {
  width: 300px;
  margin: 0 50px;
  font-size: 10px; }

.overall_target {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
  font-size: 10px;
  font-weight: bold; }

.failed {
  color: red; }

.hit {
  color: green; }

.reveal {
  width: 100%;
  text-align: center;
  font-size: 8px; }
  .reveal a {
    text-decoration: none; }
  .reveal a:hover {
    text-decoration: underline; }

.question {
  color: blue; }

.question:hover {
  text-decoration: underline;
  cursor: pointer; }

.media {
  float: right;
  border: 1px solid black;
  margin-left: 10px;
  margin-bottom: 10px; }

.level_description {
  margin-bottom: 0.7em; }

h1.sankeytitle, h1.maptitle {
  font-size: 12px;
  margin-left: 100px; }
  h1.sankeytitle a, h1.maptitle a {
    margin-left: 10px;
    font-size: 10px; }

#sankey {
  width: 100%; }

#header {
  border-bottom: 2px solid white; }

#message {
  width: 100%;
  text-align: center;
  margin-top: 5px; }
  #message span {
    padding-left: 5px;
    padding-right: 5px;
    background: yellow; }

.title {
  text-align: center;
  color: #3e576f;
  font: normal normal normal 16px/normal "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; }

#saved_pathways {
  position: absolute;
  right: 73px;
  top: 2px; }
  #saved_pathways li.debate a {
    background: #00b0f0; }
    #saved_pathways li.debate a:hover {
      background-color: #f7f7f7;
      color: #333333; }
  #saved_pathways li.failed a {
    background: red; }
    #saved_pathways li.failed a:hover {
      background-color: #f7f7f7;
      color: #333333; }

#help {
  position: absolute;
  right: 10px;
  top: 2px;
  font-weight: bold;
  margin: 0;
  margin-top: 1px;
  padding: 0; }
  #help a {
    display: block;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #00b0f0;
    border: 1px solid #f0f0f0;
    text-decoration: none; }
    #help a:hover {
      background-color: #f7f7f7;
      color: #333333;
      text-decoration: underline; }

#help li, #saved_pathways li, #debate_pathways li {
  width: 160px; }

.dropdown, .dropdown * {
  z-index: 2000; }

ul.dropdown {
  list-style: none;
  font-weight: bold;
  margin: 0;
  margin-top: 1px;
  padding: 0; }
  ul.dropdown li a {
    display: block;
    padding: 3px;
    padding-left: 5px;
    color: white;
    background: #00b0f0;
    border: 1px solid #f0f0f0;
    text-decoration: none; }
    ul.dropdown li a:hover {
      background-color: #f7f7f7;
      color: #333333;
      text-decoration: underline; }
  ul.dropdown ul {
    border: 1px solid #f0f0f0;
    -moz-box-shadow: 0 0 5px #888888;
    -webkit-box-shadow: 0 0 5px #888888;
    box-shadow: 0 0 5px #888888;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; }
    ul.dropdown ul li {
      display: inline;
      padding: 0;
      margin: 0; }
    ul.dropdown ul a {
      display: block;
      width: 148px;
      margin: 0;
      padding: 5px;
      font-weight: normal;
      font-size: 0.72em;
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      background: #109748;
      border: none; }

ul.css-tabs {
  margin: 0 !important;
  padding: 0;
  height: 30px;
  border-bottom: 1px solid #666666;
  background: #cacaca; }
  ul.css-tabs li {
    float: left;
    padding: 0;
    margin: 0;
    list-style-type: none; }
  ul.css-tabs a {
    float: left;
    font-size: 13px;
    font-weight: bold;
    display: block;
    padding: 5px 30px;
    text-decoration: none;
    border: 1px solid #f0f0f0;
    border-bottom: 0px;
    height: 18px;
    background-color: #00b0f0;
    color: white;
    margin-left: 2px;
    position: relative;
    top: 1px;
    outline: 0;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0; }
    ul.css-tabs a:hover {
      background-color: #f7f7f7;
      color: #333333;
      text-decoration: underline; }
    ul.css-tabs a.current {
      background-color: white !important;
      border-bottom: 1px solid white;
      border-top: 1px solid black;
      border-right: 1px solid black;
      border-left: 1px solid black;
      color: black;
      cursor: default;
      text-decoration: none; }

#stories {
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden; }

.story {
  width: 27%;
  font-size: 0.72em;
  float: left;
  position: relative;
  margin-bottom: 1em; }
  .story th {
    text-align: left; }
  .story h4 {
    margin-bottom: 0px; }
  .story h4 + p {
    margin-top: 0px; }
  .story table.heating_choice td.target, .story table.heating_choice th.target {
    text-align: right; }

#demand_story {
  left: 2%; }

#supply_story {
  left: 10%; }

#ghg_story {
  left: 17%; }

td.space {
  font-size: 10px; }

table.imports .energy {
  text-align: right; }
table.imports .percent {
  text-align: right; }

#share {
  position: fixed;
  text-align: right;
  right: 0;
  bottom: 0;
  width: 13em;
  height: 1.7em;
  padding: 5px 5px 0 0;
  margin: 0px;
  border: 1px solid #f0f0f0;
  background: #00b0f0;
  color: white;
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -moz-box-shadow: 5px 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px 5px black;
  box-shadow: 5px 5px 5px 5px black; }
  #share a {
    color: white;
    text-decoration: none; }
  #share a:hover {
    text-decoration: underline; }

#share_popup {
  display: none;
  position: fixed;
  z-index: 10;
  width: 45em;
  height: 4em;
  top: 40%;
  left: 25%;
  padding: 5px;
  border: 1px solid #666666;
  background: #1396e4;
  color: white;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 5px 5px 5px 5px black;
  -webkit-box-shadow: 0px 0px 3px black;
  box-shadow: 5px 5px 5px 5px black; }
  #share_popup #close {
    position: absolute;
    right: -17px;
    top: -17px; }
    #share_popup #close img {
      border: 0px; }
  #share_popup p {
    padding: 0;
    margin: 0; }
  #share_popup input {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    width: 100%; }
  #share_popup .addthis_button {
    display: block;
    position: absolute;
    right: 5px;
    bottom: 6px; }

#targetArrow {
  font-size: 1.5em;
  position: absolute;
  z-index: 10;
  top: 161px;
  right: 10px; }

#ghg p.note {
  margin-bottom: 50px; }

#example_pathways {
  margin-left: 20%;
  margin-right: 20%;
  width: 80%; }
  #example_pathways h1 {
    font: normal normal normal 16px/normal "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; }
  #example_pathways h2 {
    font: bold normal normal 12px/normal "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; }

table.choice_bars td.one_page_link {
  padding: 0;
  margin: 0;
  width: 10px;
  text-align: center; }
  table.choice_bars td.one_page_link a {
    margin-left: 2px; }

table.choice_bars td.one_page_link a, span.one_page_link a {
  font: bold italic normal 12px/normal "Times", "Times New Roman", serif;
  color: white;
  background-color: #00b0f0;
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
  text-decoration: none; }
  table.choice_bars td.one_page_link a:hover, span.one_page_link a:hover {
    color: black; }

span.one_page_link {
  display: inline-block;
  width: 10px;
  background-color: #00b0f0;
  text-align: center;
  margin: 0; }
