%p.ghg_label 2050 emissions will be #{(@pathway.percent_ghg_reduction * 100).round}% below 1990 levels.

%p.note 
  International aviation and shipping emissions are not included in the
  UK's 2050 target but are included here to enable emissions from all
  sectors to be considered.
