%p Creating a low-carbon economy will require the consent and participation of citizens given the scale and pace of change required. Government can play a leadership role, but transforming our economy will require a coalition of citizens, business, and the energy industry.

%p 
  We would like to test and refine this tool, its assumptions and its presentation, before engaging the public more widely.

%ul
  %li 
    This tool is a front end to a Microsoft Excel spreadsheet that carries out the actual calculations and contains all the assumptions.
    = link_to 'Download the spreadsheet.', call_for_evidence_spreadsheet_document_url
  %li
    There is a document that explains the assumptions and approach used in this work and some of its implications. 
    = link_to 'Download the document.', call_for_evidence_document_url
  %li 
    We are running a call for evidence to help improve the assumptions and spreadsheet.
    = link_to 'Respond to the call for evidence on the DECC website.', call_for_evidence_document_url

%p 
  You can also
  = link_to 'download the full source code', get_source_code_document_url
  to this interface to the calculator, under an open source licence. Patches gratefully received through that site.