= link_to image_tag("2050Tutorial.jpg", :border=>0, :alt => "download a quick video tutorial", :style => "width:512px;height:384px;margin:0;padding:0"), '/2050tutorial', :class => 'media', :id => 'player', :style => "display:block;width:512px;height:384px;"
%script{ :type => 'text/javascript'}
  flowplayer("player", "/flowplayer-3.2.2.swf");

%p 
  The tool presents you with three charts, describing the 
  %em demand
  for energy, the 
  %em supply
  of energy and the 
  %em greenhouse gas emissions 
  for the UK. If you move your mouse over the chart, a box will appear describing what that line represents. On the bottom right of the screen, there are some key facts around greenhouse gas emissions reductions and energy security.

%p Below the charts are a list of sectors. For each sector of the economy, four trajectories have been developed, ranging from little or no effort to reduce emissions to extremely ambitious changes that push towards the physical or technical limits of what can be achieved. These are indicated by four numbered boxes. If you click on a number, then that trajectory is selected and the charts are recalculated. This calculation may take up to 30 seconds.

%p In general,

.level_description
  %em Level 1
  assumes little or no attempt to decarbonise or change or only short run efforts; and that unproven low-carbon technologies are not developed or deployed.

.level_description
  %em Level 2
  describes what might be achieved by applying a level of effort that is likely to be viewed as ambitious but reasonable by most or all experts. For some sectors this would be similar to the build rate expected with the successful implementation of the programmes or projects currently in progress.

.level_description
  %em Level 3 
  describes what might be achieved by applying a very ambitious level of effort that is unlikely to happen without significant change from the current system; assumes significant technological breakthroughs.  

.level_description
  %em Level 4
  describes a level of change that could be achieved with effort at the extreme upper end of what is thought to be physically plausible by the most optimistic observer. This level pushes towards the physical or technical limits of what can be achieved. 

%p It should be recognised that even at level 2, the consequences of pursuing this effort across several different sectors in parallel will place a high demand on supply chains and skills, especially given that other countries are likely to be undertaking concurrent infrastructure changes. A pathway containing level 4 ambition in one or more sectors is likely to have very challenging consequences.

%p 
  To help you make a selection, a short description of each trajectory will appear if you hover your mouse over one of the boxes. This is an illustrative and simplified statement of what is going on and does not explain a lot of the underlying assumptions. Please read the full 
  = link_to '2050 Pathways Analysis call for evidence report', call_for_evidence_document_url
  for fuller descriptions.

%p 
  Some of the sectors have boxes labeled A,B,C,D rather than 1,2,3,4. This indicates that there is not a simple correlation between the level of ambition on change and what happens to greenhouse gas emissions. Please read the short descriptions and the 
  = link_to '2050 Pathways Analysis call for evidence report', call_for_evidence_document_url
  in these cases.

%p When experimenting with different pathways, you may like to consider:
%ul
  %li The level of greenhouse gas emissions reductions.
  %li Whether energy supply is balanced with energy demand.
  %li The amount of fuel that would need to be imported.
  %li The consequences of days with low wind.
  %li The difficulty and consequences of achieving that pathway.

