%p While this analysis helps us look ahead, there are some limitations to the approach:
%ul
  %li It is a model based on physical limits, not cost optimisation.
  %li The cost of a pathway is not yet modelled.
  %li GDP growth is a fixed assumption. 
  %li Population growth is a fixed assumption. 
  %li No assumptions are made about what the rest of the world does.
  %li It does not consider the role that international emissions credits might play. 
  %li 
    Like the UK's emission target, it does not take account of the emissions from: 
    %ul
      %li growing biofuels abroad, 
      %li electricity generated in other countries.
      %li the overseas manufacture of products which the UK imports.
  %li 
    It does not prevent implausible combinations of action, such as:
    %ul
      %li Very high levels of both solar PV and solar thermal at the same time &mdash; in practice these technologies may be competing for the same roof space;
      %li A thriving manufacturing industry and high levels of additional construction at the same time as a reducing demand for freight transport; 
      %li Generating electricity through non-thermal processes, whilst at the same time rolling out use of district heating.  
  %li Similarly, the model does not account for all possible feedbacks between trajectory levels in different sectors.
  %li The electricity system must be continually balanced to match supply and demand. The model tests this simplistically by the ability of the system to meet demands for electricity during a five-day anticyclone blocking event, with five days of low wind output and an increase in heating demand associated with the cold weather. 
  %li Any new, unabated generation is provided by gas-fired power stations.
  %li All carbon-capture and storage (CCS) generation is assumed to be coal-fired. In reality, it may become possible to fit CCS to gas-fired plant.
  
Please see the 
= link_to 'full 2050 Pathways Analysis call for evidence report', call_for_evidence_document_url 
for more detail on these limitations. 