!!! Transitional
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    = other_meta_data
    %title 2050 pathway
    = stylesheet_link_tag :all, :cache => true
    = javascript_include_tag :all, :cache => true
    %script{:type => 'text/javascript'}
      $.cookie('user_has_read_disclaimer','yes',{path: '/'});
  %body{ :class => controller.controller_name}
    #container
      = yield